<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="LOG_PATTERN"
              value="%d %level [%logger{0}][%thread] - %m%n"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="CONSOLE_LOG_PATTERN" value="${LOG_PATTERN}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
